<%- include('./partials/head') %> <%- include('./partials/nav') %>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
  <h1 class="display-1 text-center"> ERROR 404</h1>
  <p class="text-center lead"> RESOURCE NOT FOUND</p>
</div>
  <div class="col-lg-2"></div>
</div>
<%- include('./partials/footer') %>
